[Unit]
Description=ausweisapp
StopWhenUnneeded=true
CollectMode=inactive-or-failed

[Service]
Type=exec
ExecStart=/usr/bin/AusweisApp --address 127.0.0.2
