[Unit]
Description=Bluetooth reset
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo modprobe -r btusb
ExecStart=/usr/bin/sudo modprobe btusb
ExecStart=/usr/bin/bluetoothctl power on
RestartSec=0

[Install]
WantedBy=graphical-session.target
