[Unit]
Description=Bluetooth reset
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo systemctl restart bluetooth
ExecStart=/usr/bin/sudo rfkill block bluetooth
ExecStart=/usr/bin/sudo rfkill unblock bluetooth
ExecStart=/usr/bin/bluetoothctl power on
RestartSec=0

[Install]
WantedBy=graphical-session.target
