[Unit]
Description=Bluetooth reset
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bluetoothctl power on

[Install]
WantedBy=graphical-session.target
