[Unit]
Description=Bluetooth reset
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bluetoothctl power on
