[Unit]
Description=Google Chrome for %I
After=graphical-session.target dunst.service
Requires=graphical-session.target
Wants=dunst.service

[Service]
Type=exec
Environment=FLATPAK_SANDBOX_DIR=%T
Environment=EXTRA_ARGS=
Environment=BASE_ARGS=
ExecStart=/usr/local/bin/browser profile %i $BASE_ARGS $EXTRA_ARGS
Restart=always
TimeoutStopSec=5
Nice=-5

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
DefaultInstance=stuff
