[Unit]
Description=Clipmenu daemon
Requisite=xorg.service
After=xorg.service

[Service]
ExecStart=/usr/bin/clipmenud
Restart=always
RestartSec=500ms

MemoryDenyWriteExecute=true
NoNewPrivileges=true
ProtectControlGroups=true
ProtectKernelTunables=true
RestrictAddressFamilies=
RestrictRealtime=true

# We don't need to do any clean up, so if something hangs (borked xclip, etc),
# it's going to stay that way. Just forcefully kill and get it over with.
TimeoutStopSec=2

[Install]
WantedBy=xorg-session.target
