[Unit]
Description=clipman
After=sway-session.target
Requires=sway-session.target

[Service]
ExecStart=/usr/bin/wl-paste -t text --watch clipman store
Restart=always
RestartSec=500ms

MemoryDenyWriteExecute=true
NoNewPrivileges=true
ProtectControlGroups=true
ProtectKernelTunables=true
RestrictAddressFamilies=
RestrictRealtime=true

# We don't need to do any clean up, so if something hangs (borked xclip, etc),
# it's going to stay that way. Just forcefully kill and get it over with.
TimeoutStopSec=2

[Install]
WantedBy=sway-session.target
