[Unit]
Description=cloudflared for %I

[Service]
Type=simple
ExecStart=/usr/bin/cloudflared tunnel --no-autoupdate --name=%I --origincert=%E/cloudflared/cert.pem --credentials-file=%E/cloudflared/%I.json $FLAGS
Restart=always

[Install]
WantedBy=graphical-session.target
