[Unit]
Description=Set cpu governor to %n
After=basic.target
Requires=basic.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'echo %i | sudo tee /sys/devices/system/cpu/*/cpufreq/scaling_governor'
RestartSec=0

[Install]
WantedBy=basic.target
