[Service]
ExecCondition=/bin/bash -ec 'now=$(date +%%k%%M); (( 930 <= now && now <= 935 ))'
ExecStart=/bin/systemctl --user start browser@daily.service
