[Unit]
Description=Add arch iso torrent, remove old one
After=graphical-session.target deluged.service
Requires=graphical-session.target deluged.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c '/usr/bin/deluge-console add "https://www.archlinux.org/releng/releases/$(date "+%%Y.%%m.01")/torrent"'
ExecStart=/usr/bin/bash -c '/usr/bin/deluge-console rm --confirm --remove_data "archlinux-$(date --date="-1 month" "+%%Y.%%m.01")-x86_64.iso"'
RestartSec=86400
Restart=on-failure

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes

[Install]
WantedBy=graphical-session.target
