[Unit]
Description=Discord
PartOf=messengers.target
Requires=graphical-session.target pipewire-pulse.service
Wants=dunst.service
After=graphical-session.target pipewire-pulse.service dunst.service
StopWhenUnneeded=true
CollectMode=inactive-or-failed
ConditionACPower=true

[Service]
Type=exec
ExecStart=/usr/bin/discord
Restart=always
MemoryHigh=1.5G
MemoryMax=2G
CPUQuota=300%
Slice=messengers.slice
