[Unit]
Description=Discord Overlay
PartOf=messengers.target
Requires=discord.service
Requisite=gamemode.service
After=discord.service
CollectMode=inactive-or-failed

[Service]
Type=exec
ExecStart=/usr/bin/discover-overlay
Restart=always
Slice=messengers.slice
