[Unit]
Description=Discord
PartOf=messengers.target
Requires=graphical-session.target network-online.service
After=graphical-session.target network-online.service droidcam@adb.service

[Service]
Type=simple
ExecStart=/usr/bin/discord
RestartSec=0
Restart=always
MemoryMax=1G
Slice=messengers.slice

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes

