[Unit]
Description=Droidcam@%I
PartOf=messengers.target
Requires=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/droidcam-cli %I 4747
Restart=always
