[Unit]
Description=EasyEffects
After=graphical-session.target pipewire-pulse.service
Requires=graphical-session.target pipewire-pulse.service
ConditionACPower=true

[Service]
Type=exec
ExecStart=/usr/bin/easyeffects --gapplication-service
Restart=always
