[Unit]
Description=feh background setter
After=i3-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-fill %E/background.jpg --no-fehbg
ExecReload=/usr/bin/feh --bg-fill %E/background.jpg --no-fehbg
RemainAfterExit=true
ExecStop=/usr/bin/feh --bg-tile %E/black.jpg --no-fehbg

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
