[Unit]
Description=filebrowser for %I
StopWhenUnneeded=true
CollectMode=inactive-or-failed

[Service]
Type=simple
ExecStart=/usr/bin/filebrowser --database=%E/filebrowser/%I.db --root=${ROOT} --port=${PORT}
Restart=always

[Install]
WantedBy=graphical-session.target
