[Unit]
Description=filebrowser
StopWhenUnneeded=true
CollectMode=inactive-or-failed

[Service]
Type=simple
ExecStart=/usr/bin/filebrowser --database=%E/filebrowser/files.db --root=%h --port=8051
Restart=always

[Install]
WantedBy=graphical-session.target
