[Unit]
Description=Gaming Mode
Wants=discord.service
Wants=temporary-audio@25.service
Wants=pause-notifications.service
StopWhenUnneeded=true
ConditionACPower=true

[Service]
Type=oneshot
ExecStart=/usr/local/bin/_gamemode start
RemainAfterExit=true
ExecStop=/usr/local/bin/_gamemode stop
RestartSec=0

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
