[Unit]
Description=Gaming Mode
Wants=steam.service
Wants=discord.service
Conflicts=work.target glava.target

[Service]
Type=oneshot
Environment="SERVICES=glava.target picom.service"
ExecStart=/usr/bin/true
RemainAfterExit=yes
ExecStop=/usr/bin/systemctl --user start $SERVICES
RestartSec=0

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes