[Unit]
Description=glava %I
PartOf=glava.target

[Service]
Type=forking
ExecStart=%h/.config/glava/launch.sh %i
RestartSec=0
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes

[Install]
WantedBy=graphical-session.target
