[Unit]
Description=glava
Requires=i3-session.target pipewire.service
Wants=glava@bars.service
Wants=glava@radial.service
Wants=glava-update.service

[Install]
WantedBy=i3-session.target