[Unit]
Description=glava
BindsTo=glava@bars.service
BindsTo=glava@radial.service
BindsTo=glava-update.service

[Install]
WantedBy=xorg-session.target
