[Unit]
Description=glava %I
PartOf=glava.target
Requires=picom.service
CollectMode=inactive-or-failed

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%E/glava/launch.sh %i
ExecStop=%E/glava/stop.sh %i
Slice=glava.slice

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes

[Install]
WantedBy=i3-session.target