[Unit]
Description=Gnome Keyring Daemon
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gnome-keyring-daemon --start --foreground --components=pkcs11,secrets
RestartSec=0
Restart=always

[Install]
WantedBy=graphical-session.target
