[Unit]
Description=Google Chrome for %I
After=graphical-session.target dunst.service
Requires=graphical-session.target
Wants=dunst.service

[Service]
Type=exec
Environment=EXTRA_ARGS=
ExecStart=/usr/bin/google-chrome-stable --user-data-dir=%E/google-chrome-%i --class=%i $EXTRA_ARGS
Restart=always
TimeoutStopSec=5
Nice=-5

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
