[Unit]
Description=Google Chrome for %I
After=graphical-session.target dunst.service
Requires=graphical-session.target dunst.service

[Service]
Type=simple
Environment=EXTRA_ARGS=
ExecStart=/usr/bin/google-chrome-stable --user-data-dir=%E/google-chrome-%i --class=%i $EXTRA_ARGS
RestartSec=0
Restart=always
TimeoutStopSec=5

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=graphical-session.target
