[Unit]
Description=hexchat
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
Environment=TARGET_DIR=%E/hexchat/logs
ExecStart=/usr/bin/hexchat
ExecStopPost=/usr/bin/mkdir -p '${TARGET_DIR}.d'
ExecStopPost=/usr/bin/mv '${TARGET_DIR}' '${TARGET_DIR}.d/logs'
ExecStopPost=/usr/bin/bash -c 'tar -c --xz --force-local --remove-files -C ${TARGET_DIR}.d/logs -f ${TARGET_DIR}.d/$(date --iso-8601=seconds).tar.xz .'

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes

