[Unit]
Description=Work applications
Requires=work.target
After=graphical-session.target
Wants=work.target vpn@crossmedia.service

[Install]
WantedBy=graphical-session.target
