[Unit]
Description=i3
After=graphical-session-pre.target
BindsTo=graphical-session.target
Wants=clipmenud.service
Wants=feh.service
Wants=glava.target
Wants=graphical-session-pre.target
Wants=picom.service
Wants=polybar.target
Wants=restart-service@picom.path
Wants=restart-service@polybar.path
Wants=xorg-settings.timer
Wants=xss-lock.service
