[Unit]
Description=kanshi
After=wayland-session.target
Requires=wayland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
RestartSec=0
Restart=always

[Install]
WantedBy=wayland-session.target
