[Unit]
Description=KDE Connect Daemon
Wants=pipewire.service
After=pipewire.service

[Service]
Type=simple
ExecStart=/usr/bin/kdeconnectd
RestartSec=0
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true

[Install]
WantedBy=graphical-session.target
