[Unit]
Description=KDE Connect Indicator
After=kdeconnect-daemon.service
Requires=kdeconnect-daemon.service

[Service]
Type=exec
ExecStart=/usr/bin/kdeconnect-indicator
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
