[Unit]
Description=KDE Connect Indicator
After=kdeconnect-daemon.service
Requires=kdeconnect-daemon.service

[Service]
Type=simple
ExecStart=/usr/bin/kdeconnect-indicator
RestartSec=0
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true

[Install]
WantedBy=graphical-session.target
