[Unit]
Description=KDE Connect Daemon
Wants=pipewire-pulse.service
After=pipewire-pulse.service

[Service]
Type=exec
ExecStart=/usr/bin/kdeconnectd
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
