[Unit]
Description=libinput gestures
After=graphical-session.target
Requisite=graphical-session.target
CollectMode=inactive-or-failed

[Service]
Type=simple
ExecStart=/usr/bin/libinput-gestures
RestartSec=0
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=graphical-session.target