[Unit]
Description=Messengers
Requires=graphical-session.target
After=graphical-session.target
BindsTo=discord.service
BindsTo=whatsapp.service
BindsTo=telegram.service

[Install]
WantedBy=graphical-session.target