[Unit]
Description=Messengers
Requires=graphical-session.target
After=graphical-session.target
Wants=discord.service
Wants=telegram.service
Wants=whatsapp.service
