[Unit]
Description=Wait until internet server is accessable

[Service]
Type=oneshot
ExecStart=/usr/bin/nm-online -s -q
Environment=NM_ONLINE_TIMEOUT=60
Restart=Always
StartLimitBurst=128