[Unit]
Description=Wait until internet is accessible

[Service]
Type=oneshot
ExecStart=/usr/bin/nm-online -s -q
Environment=NM_ONLINE_TIMEOUT=60
Restart=on-failure
StartLimitBurst=128
