[Unit]
Description=Wait until internet server is accessable

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'until timeout 1 curl --silent -f https://google.com > /dev/null; do sleep 0.1; done;'
TimeoutStartSec=60s
Restart=Always
StartLimitBurst=128
