[Unit]
StopWhenUnneeded=true

[Service]
Type=oneshot
ExecCondition=/usr/bin/bash -ec '[[ "$(dunstctl is-paused)" == "false" ]]'
ExecStart=-/usr/bin/dunstctl set-pause-level 50
RemainAfterExit=true
ExecStop=/usr/bin/dunstctl set-paused false

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
