[Unit]
Description=Picom
Requires=i3-session.target

[Service]
Type=simple
ExecStart=/usr/bin/picom
ExecReload=/usr/bin/kill -s SIGUSR1 $MAINPID
RestartSec=0
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true

[Install]
WantedBy=i3-session.target