[Unit]
Description=Clean podman storage

[Service]
Type=oneshot
ExecStart=/usr/bin/podman system prune --all --force --volumes
ExecStart=/usr/bin/podman system prune --force --external
SuccessExitStatus=0 125
