[Unit]
Description=Polybar %I
PartOf=polybar.target
CollectMode=inactive-or-failed

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/bash -c 'until i3-msg; do sleep 1; done'
ExecStart=%E/polybar/launch.sh %i
ExecReload=%E/polybar/launch.sh %i restart
ExecStop=systemctl --user stop "polybar-%i.slice"
RestartSec=0
KillSignal=SIGKILL
Slice=polybar.slice

[Install]
WantedBy=graphical-session.target