[Unit]
Description=Polybar %I
PartOf=polybar.target

[Service]
Type=forking
ExecStartPre=/bin/bash -c 'until i3-msg; do :; done'
ExecStart=%E/polybar/launch.sh %i
RestartSec=0
Restart=always
KillSignal=SIGKILL

[Install]
WantedBy=graphical-session.target
