[Unit]
Description=polybar
Requires=graphical-session.target
Wants=polybar@top.service
Wants=polybar@bottom.service

[Install]
WantedBy=graphical-session.target