[Unit]
Description=Polybar %I
PartOf=polybar.target
Slice=polybar.slice

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/bash -c 'until i3-msg; do :; done'
ExecStart=%E/polybar/launch.sh %i
ExecStop=%E/polybar/stop.sh %i
RestartSec=0
KillSignal=SIGKILL

[Install]
WantedBy=graphical-session.target
