[Unit]
Description=polybar
Requires=graphical-session.target
BindsTo=polybar@top.service
BindsTo=polybar@bottom.service

[Install]
WantedBy=graphical-session.target

