[Unit]
Description=Restart service %I

[Service]
Type=oneshot
ExecStart=-/usr/bin/systemctl --user try-reload-or-restart '%i.target'
ExecStart=-/usr/bin/systemctl --user try-reload-or-restart '%i.service'
