[Unit]
Description=rocketchat
PartOf=work.target
Requires=graphical-session.target
After=graphical-session.target dunst.service
Wants=dunst.service

[Service]
Type=exec
ExecStart=/usr/bin/rocketchat-desktop
# this shit just always core-dumps on exit 🤷
ExecStopPost=/usr/bin/systemctl --user reset-failed %n
TimeoutStopSec=5s
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
ProtectKernelTunables=true
ProtectControlGroups=true
