[Unit]
Description=rocketchat
PartOf=work.target
Requires=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/rocketchat-desktop
RestartSec=0
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
ProtectKernelTunables=yes
ProtectControlGroups=yes

