[Unit]
Description=Signal
PartOf=messengers.target

[Service]
Type=simple
ExecStart=/usr/bin/signal-desktop
ExecStop=/usr/bin/kill $MAINPID
RestartSec=0
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes

