[Unit]
Description=Slack
PartOf=messengers.target
Requires=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/slack --startup
Restart=always
Slice=messengers.slice

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true

