[Unit]
Description=Slack
PartOf=messengers.target
Requires=graphical-session.target network-online.service
After=graphical-session.target network-online.service

[Service]
Type=simple
ExecStart=/usr/bin/slack --startup
RestartSec=0
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes

