[Unit]
Description=Steam
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/steam-config
ExecStart=/usr/bin/steam
RestartSec=0
Restart=always

[Install]
WantedBy=graphical-session.target
