[Unit]
Description=Steam
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/steam-tweaks
ExecStart=/usr/bin/steam
MemoryMax=10G
TasksMax=400
RestartSec=0
Restart=always

[Install]
WantedBy=graphical-session.target
