[Unit]
Description=Steam
After=graphical-session.target
Requires=graphical-session.target
ConditionACPower=true

[Service]
Type=exec
ExecCondition=bash -eo pipefail -c 'lsmod | grep -q nvidia'
ExecStart=/usr/bin/steam-native
ExecStopPost=/usr/bin/bash -exc 'shopt -u failglob; shopt -s nullglob; rm -vf "/dev/shm/u$U"* "/dev/shm/wine-"*'
OOMScoreAdjust=-500
TimeoutStopSec=5s
MemoryMax=80%
TasksMax=800
Restart=on-failure
ManagedOOMPreference=avoid
Nice=-2
Slice=steam.slice
