[Unit]
Description=Stop Telefondienst

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user stop telefondienst.target

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
