[Unit]
Description=Stop Telefondienst

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user stop telefondienst.target
ExecStartPost=/usr/bin/notify-send.sh 'Telefondienst is over\nReset 3cx status'

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
