[Unit]
Description=swaybg background setter
After=sway-session.target
Requires=sway-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/swaymsg output '*' background '%E/background.jpg' fill
RemainAfterExit=true
ExecStop=/usr/bin/swaymsg output '*' background '#000000' solid_color

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
