[Unit]
Description=sway session
After=graphical-session-pre.target
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
Wants=clipman.service
Wants=restart-service@waybar.path
Wants=steam.service
Wants=swaybg.service