[Unit]
Description=teams
PartOf=work.target

[Service]
Type=forking
ExecStart=/usr/bin/teams-insiders
ExecStop=/usr/bin/teams-insiders --quit
ExecStopPost=/usr/bin/bash -c 'sleep 8; kill $MAINPID'
RestartSec=0
Restart=always

