[Unit]
Description=teams
PartOf=work.target

[Service]
Type=forking
ExecStart=/usr/bin/teams-insiders
ExecStop=/usr/bin/teams-insiders --quit
RestartSec=0
Restart=always

