[Unit]
Description=teams audio settings fix
PartOf=work.target

[Service]
Type=simple
ExecStart=%h/.config/teams-insiders/fix.sh
RestartSec=0
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes

[Install]
WantedBy=graphical-session.target
