[Unit]
Description=Telegram
PartOf=messengers.target
Requires=graphical-session.target dunst.service
After=graphical-session.target dunst.service

[Service]
Type=simple
ExecStart=/usr/bin/telegram-desktop
RestartSec=0
Restart=always
Slice=messengers.slice

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
