[Unit]
Description=Telegram
PartOf=messengers.target
Requires=graphical-session.target org.freedesktop.IBus.session.generic.service
After=graphical-session.target dunst.service
Wants=dunst.service

[Service]
Type=exec
Environment=QT_IM_MODULE=ibus
ExecStart=/usr/bin/telegram-desktop
Restart=always
Slice=messengers.slice

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
