[Unit]
Description=Telefondienst applications
Requires=graphical-session.target
Requisite=work.target
After=graphical-session.target
Wants=browser@telefondienst.service
Wants=rss.service
Wants=stop-telefondienst.timer
Wants=telefondienst.service
