[Unit]
Description=Lower music volume during service activation
StopWhenUnneeded=true

[Service]
Type=oneshot
ExecStart=-/usr/local/bin/pctl -s google-chrome@ytm.service volume %i
RemainAfterExit=true
ExecStop=/usr/local/bin/pctl -s google-chrome@ytm.service volume 100
RestartSec=0

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
