[Unit]
Description=Thunderbird 
After=gpg-agent.service graphical-session.target
Requires=gpg-agent.service graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/thunderbird
RestartSec=0

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
Restart=always

[Install]
WantedBy=graphical-session.target
