[Unit]
Description=Thunderbird
After=gpg-agent.socket graphical-session.target
Requires=gpg-agent.socket graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/thunderbird
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
