[Unit]
Description=udiskie
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/udiskie -T
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
