[Unit]
Description=Package Updates
After=graphical-session.target
Requires=graphical-session.target
ConditionACPower=true

[Service]
Type=oneshot
ExecStart=/usr/bin/timeout -k 59m 58m /usr/local/bin/packageUpdates --unattended
