[Unit]
Description=Package Updates
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/BIN/packageUpdates --unattended
RestartSec=0

