[Unit]
Description=Package Updates
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/packageUpdates --unattended
RestartSec=0
