[Unit]
Description=%I VPN
StopWhenUnneeded=yes

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 1
ExecStartPre=-/usr/bin/nmcli connection down %I
ExecStartPre=/usr/bin/sleep 1
ExecStartPre=-/usr/bin/nmcli connection up %I
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/bash -o pipefail -c "until ! timeout 30 ping -c 5 $(nmcli connection show %I | grep IP4.DNS | head -1 | awk '{print $2}'); do sleep 10; done; exit 1"
ExecStop=/usr/bin/nmcli connection down %I
RestartSec=10
Restart=always

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes

