[Unit]
Description=VPN %I
PartOf=work.target
After=network-online.service
Requires=network-online.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "nmcli connection up %I; until timeout 10 ping -c 3 $(nmcli connection show %I | grep 'IP4.DNS' | head -1 | awk '{print $2}'); do nmcli connection down %I; nmcli connection up %I; done && exit"
ExecStop=/usr/bin/nmcli connection down %I
RestartSec=0
RemainAfterExit=true

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes

