[Unit]
Description=WhatsApp
PartOf=messengers.target
Requires=graphical-session.target dunst.service
After=graphical-session.target dunst.service

[Service]
Type=simple
ExecStart=/usr/bin/google-chrome-stable --user-data-dir=%E/google-chrome-whatsapp --app=https://web.whatsapp.com --class=whatsapp
RestartSec=0
Restart=always
Slice=messengers.slice

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
ProtectKernelTunables=true
ProtectControlGroups=true
