[Unit]
Description=Work applications
Requires=work.target
After=graphical-session.target
Wants=work.target wireguard@wg0.service teams.service google-chrome@work.service

[Install]
WantedBy=graphical-session.target
