[Unit]
Description=Starts the work.target, if applicable

[Service]
Type=oneshot
ExecStart=systemctl --user start work.target
ExecStart=autorandr --change
ExecStart=loginctl unlock-session
ExecCondition=bash -eo pipefail -c 'curl -m 10 -fsSLq -H "Authorization: Bearer $HA_TOKEN" https://homeassistant.cwrau.de/api/states/binary_sensor.workday | yq -e \'.state == "on"\' >/dev/null'
