[Unit]
Description=Creates a timer to stop the work.target, if applicable
Requisite=work.target
After=work.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecCondition=not systemctl --user is-active -q work-stop-tmp.timer
Environment=STATE_FOLDER=%S/work
Environment=TODAY_FILE="$STATE_FOLDER/$(date --iso-8601=date)"
ExecStartPre=/usr/bin/bash -xc '[[ ! -f "${TODAY_FILE}" ]] && rm -f "$STATE_FOLDER/"*-*-*; touch "${TODAY_FILE}"'
ExecStart=/usr/bin/bash -xc 'systemd-run --user --collect --on-calendar=@$(date --date=@"$(( $(stat -c %%W "${TODAY_FILE}") + (8*60*60) ))" +%%s) --timer-property=PartOf=work.target --property=ExecCondition="systemctl --user is-active -q work.target" --unit=work-stop-tmp --property=Type=oneshot --property=ExecStart="systemctl --user stop work.target" -- notify-send.sh -u critical "Stop working! No overtime allowed!" -t 60000'
