[Unit]
Description=Work applications
Requires=graphical-session.target
After=graphical-session.target
Wants=teams.service

[Install]
WantedBy=graphical-session.target
