[Unit]
Description=Xfce4 Power Manager
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xfce4-power-manager --no-daemon
RestartSec=0
Restart=always

[Install]
WantedBy=graphical-session.target
