[Unit]
Description=Set xorg settings
After=i3-session.target
Requires=i3-session.target

[Timer]
OnActiveSec=10
AccuracySec=1s
Persistent=true

[Install]
WantedBy=graphical-session.target
