[Unit]
Description=Set xorg settings
Requisite=xorg.service
After=xorg.service

[Service]
Type=oneshot
ExecStart=/usr/bin/dbus-update-activation-environment --systemd --all
ExecStart=/usr/bin/xrandr --setprovideroutputsource modesetting NVIDIA-0
ExecStart=/usr/bin/xrandr --output eDP-1-2 --mode 1920x1080 --primary
ExecStart=/usr/bin/autorandr --skip-option gamma,brightness --change --default horizontal
RemainAfterExit=true
RestartSec=10

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true

[Install]
WantedBy=xorg-session.target
