[Unit]
Description=Set xorg configs
After=xorg.service
Requisite=xorg.service

[Service]
Type=oneshot
ExecStart=%E/xorg/config.sh
RemainAfterExit=true
RestartSec=0

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=true
# more paranoid security settings
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true

[Install]
WantedBy=xorg-session.target
