[Unit]
Description=Auto lock
PartOf=i3-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xss-lock --transfer-sleep-lock --session ${XDG_SESSION_ID} -- lock

[Install]
WantedBy=i3-session.target

