[Unit]
Description=YouTube Music Player
After=graphical-session.target network-online.service pipewire-pulse.socket
Requires=graphical-session.target network-online.service pipewire-pulse.socket

[Service]
Type=simple
ExecStart=/usr/bin/ytmdesktop
RestartSec=0
Restart=always

[Install]
WantedBy=graphical-session.target
