[Unit]
Description=YouTube Music Player
After=graphical-session.target pipewire.service
Requires=graphical-session.target pipewire.service

[Service]
Type=simple
#ExecStart=/usr/bin/ytmdesktop
ExecStart=/usr/bin/chromium --user-data-dir=%E/youtube-music --app=https://music.youtube.com --class=youtube-music-desktop-app
RestartSec=0
Restart=always
MemoryMax=2G
ManagedOOMMemoryPressure=kill
ManagedOOMMemoryPressureLimit=10%

[Install]
WantedBy=graphical-session.target
