[Unit]
Description=YouTube Music Player
After=graphical-session.target pipewire.service
Requisite=graphical-session.target pipewire.service

[Service]
Type=simple
ExecStart=/usr/bin/youtube-music-desktop-app
RestartSec=0
Restart=always
MemoryMax=1G
Nice=-5
ManagedOOMMemoryPressure=kill
ManagedOOMMemoryPressureLimit=10%

[Install]
WantedBy=graphical-session.target
