[core]
  autocrlf = input
  pager = delta
[user]
  signingkey = 6ADCBD3FF206F341D2CF8E2C49D1B5ACCF53CA1C
  email = cwrau@cwrau.info
  name = Chris Werner Rau
[includeIf "gitdir:~/work/"]
  path = .gitconfig-work
[includeIf "gitdir:~/.local/share/gopass/"]
  path = .gitconfig-work
[gui]
[credential]
[global]
 program = gpg2
[commit]
  gpgsign = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = master
[log]
  date = iso
[push]
  default = upstream
  autoSetupRemote = true
[pull]
  rebase = true
[rebase]
  autoStash = true
[rerere]
  enabled = true
[branch]
  autoSetupRebase = always
  autoSetupMerge = true
[credential]
  helper = store
[diff "dyff"]
	command = "dyff_between() { dyff --color on between \"$2\" \"$5\"; }; dyff_between"
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFS
  show = diff-so-fancy | less --tabs=1,5 -RFS
[interactive]
#  diffFilter = diff-so-fancy --patch
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[alias]
  cleanup = "!git fetch --prune && git cleanupBranches"
  cleanupBranches = "!(if git show-branch master &>/dev/null; then git branch --merged master; else git branch --merged main; fi) | grep -E -v '^\\s*(\\*|master|main|develop|release/)' | xargs -n 1 -r git branch -d"
  rprune = "!git branch -r | awk '{print $1}' | grep -E -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk '{print $1}' | xargs -n 1 -p -r git branch -D"
