.idea
/.config/i3status/custom.d/private/
/.config/polybar/scripts/private/
/BIN/custom/

*.log
*.zwc
*_history

/.bash_logout
/.bash_profile
/.cache/
/.factorio/
/.git-credentials
/.history
/.local/
!.local/share/JetBrains/Toolbox/.settings.json
/.m2/
/.slit/
/.steam*
/.thumbnails/
/Documents/
/Downloads/
/Screenshots/
/projects/
/tmp/
/work/

