.idea
.config/i3status/custom.d/private
.config/polybar/scripts/private
BIN/custom

*.log
*.zwc
*_history

/.FAHClient/
/.Xauthority
/.abstractanks/
/.android/
/.arduino15/
/.azure/
/.bash_logout
/.bash_profile
/.bitsquid/
/.cache/
/.cargo/
/.cert/
/.docker/
/.dvdcss
/.electron-gyp/
/.emulator_console_auth_token
/.etlegacy/
/.factorio/
/.fehbg
/.git-credentials
/.gnome/
/.gnupg/
/.gradle-kotlin-dsl/
/.history
/.httpie/
/.ideaLibSources/
/.itch/
/.java/
/.krew/
/.kscript/
/.kube/
/.lesshst
/.local/
/.m2/
/.mbwarband/
/.mitmproxy/
/.mount-gtkrc
/.mozilla
/.npm*
/.nv
/.nvidia-settings-rc
/.pki/
/.rnd
/.slit/
/.ssh/
/.steam*
/.thumbnails
/.thunderbird/
/.vnc/
/.wine/
/.zcompdump*
/.zoom/
/Arduino/
/Downloads/
/Screenshots/
/go/
/projects/
/tmp/
/work/

