[core]
  autocrlf = input
[user]
  signingkey = 6ADCBD3FF206F341D2CF8E2C49D1B5ACCF53CA1C
  email = cwrau@cwrcoding.com
  name = Chris Werner Rau
[includeIf "gitdir:~/work/"]
  path = .gitconfig-work
[gui]
[credential]
[commit]
  gpgsign = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = master
[log]
  date = iso
[push]
  default = current
[pull]
  rebase = true
[rebase]
  autoStash = true
[rerere]
  enabled = true
[branch]
  autoSetupRebase = always
[credential]
  helper = store
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFS
  show = diff-so-fancy | less --tabs=1,5 -RFS
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[alias]
  cleanup = "!git fetch --prune && git cleanupBranches"
  cleanupBranches = "!git branch --merged master | grep -E -v '^\\s*(\\*|master|develop|release/)' | xargs -n 1 -r git branch -d"

