[core]
	autocrlf = input
[includeIf "gitdir:~/work/"]
  path = .gitconfig-work
[includeIf "gitdir:~/projects/"]
  path = .gitconfig-private
[includeIf "gitdir:~/go/"]
  path = .gitconfig-private
[gui]
[credential]
[user]
	signingkey = 6ADCBD3FF206F341D2CF8E2C49D1B5ACCF53CA1C
	name = Chris Werner Rau
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = /usr/bin/gpg
[push]
  default = current
[pull]
	rebase = true
[rebase]
  autoStash = true
[branch]
	autosetuprebase = always
[credential]
	helper = store
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFS
  show = diff-so-fancy | less --tabs=1,5 -RFS
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
