{{- with (ds "file") -}}
title {{ .title }}
{{- if (file.Exists (printf "/boot/vmlinuz-%s" .linux)) }}
linux /vmlinuz-{{ .linux }}
{{- else }}
{{- fail "vmlinuz not found" }}
{{- end }}
{{- if (file.Exists (printf "/boot/%s-ucode.img" (.ucode | default "amd"))) }}
initrd /{{ .ucode | default "amd" }}-ucode.img
{{- else }}
{{- fail "ucode not found" }}
{{- end }}
{{- if (file.Exists (printf "/boot/initramfs-%s.img" .initramfs)) }}
initrd /initramfs-{{ .initramfs }}.img
{{- else }}
{{- fail "initramfs not found" }}
{{- end }}
options root=PARTUUID=3336d417-b19d-4fdc-af4d-4d363fba19e9 rootflags=subvol=@ rw rootfstype=btrfs acpiphp.disable=1 i8042.reset i8042.nomux i8042.nopnp i8042.noloop {{ join .options " " }}
{{- end -}}
