Almageste/
Android Open Source Project/
Bitwarden/
Clockify/
Code/
Debauchee/
Dharkael/
ENCOM/
Electron/
FontBase/
Franz/
Genymobile/
Google Play Music Desktop Player/
Google/
GooglePlayMusic/
Hyper/
IGdm/
JetBrains/
Kingsoft/
Kubernetic/
Lens/
LosslessCut/
Microsoft/
Mousepad/
NuGet/
Postman/
PreMiD/
QtEmu/
QtProject.conf
Qtwebflix/
Quotient/
Riot/
Slack/
StorageExplorer/
Thunar/
Trolltech.conf
UNIGINE/
VirtualBox/
Webcamoid/
Yubico/
aacs/
antimicroX/
aqemu/
argon/
autostart/
balena-etcher-electron/
baloofilerc
bashtop/
bluejeans-v2/
blugon/
browsh/
cef_user_data/
chromium/
cmdesktop-application/
coc/
configstore/
containers/
corectrl/
dconf/
deepin/
deluge/
discord/
dlv/
dmenu-frecency/
dolphin-emu/
dolphinrc
eDEX-UI/
enchant/
evolution/
excalibar/
fah/
filezilla/
font-manager/
freerdp/
gconf/
geary/
gedit/
gnome-initial-setup-done
google-chrome-unstable/
google-chrome/
google-cloud-tools-java/
gops/
gpick/
greenclip.cfg
gsshvnc/
guake/
helm/
hub
itch/
jdtls/
jesseduffield/
jiramenu/
kdbgrc
kdeconnect/
keybase/
kitty/
kmagrc
kritadisplayrc
kritarc
lab.hcl
legendary/
libfm/
libreoffice/
lutris/
marlin/
mc/
menus/
metrogit/
micro/
mimeapps.list
minigalaxy/
mkchromecast/
mupen64plus/
neofetch/
nheko/
nvim-plugins/
obs-studio/
onlyoffice/
org.keshavnrj.ubuntu/
pavucontrol.ini
pcmanfm/
periscope/
plugged/
pulse/
qalculate/
qtws_Netflix/
qtws_Youtube Music/
qutebrowser/
randrctl/
refract/
remmina/
retroarch/
sakura/
skypeforlinux/
spacefm/
sqlitebrowser/
superProductivity/
supertuxkart/
teams-for-linux/
teams-insiders/
teams/
teamviewer/
teiler/
telepresence/
terminology/
tizonia/
tuijam/
uhk-agent/
ultravnc-viewer/
unity3d/
user-dirs.locale
vivaldi/
vlc/
whats-app-nativefier-d52542/
whatsapp-nativefier-d40211/
whatsapp-nativefier-d52542/
whoozle.github.io/
wireshark/
xarchiver/
xfce4/
yarn/
youtube-music-desktop-app/
yuzu/
controller-mouse.gamecontroller.amgp
zoomus.conf

