/.mono/
/0ad/
/Google Play Music Desktop Player/
/JetBrains/
/Microsoft/
/Mousepad/
/NuGet/
/QtProject.conf
/Slack/
/autostart/
/cef_user_data/
/configstore/
/deluge/
/discord/
/docker/
/fah/
/freerdp/
/google-chrome/
/google-cloud-tools-java/
/java/
/kube/
/lab.hcl
/menus/
/mitmproxy/
/pavucontrol.ini
/protonfixes/
/pulse/
/remmina/
/teams-insiders/
/uhk-agent/
/unity3d/
/whatsapp-nativefier-*/
/youtube-music-desktop-app/
/zoomus.conf
