/.mono/
/0ad/
/Code Industry/Master PDF Editor.conf
/Google Play Music Desktop Player/
/JetBrains/
/Loop_Hero/
/Loop_hero/
/Microsoft/
/Mousepad/
/NuGet/
/QtProject.conf
/Rocket.Chat
/Signal/
/Slack/
/Unknown Organization/AusweisApp2.conf
/Yubico/YKPersonalization.conf
/autostart/
/cef_user_data/
/cluster-api/version.yaml
/cni/net.d/cni.lock
/configstore/
/deluge/
/discord/
/dlv/config.yml
/easyeffects_preset
/fah/
/freerdp/
/google-chrome-*/
/google-chrome/
/google-cloud-tools-java/
/hexchat/
/ibus/
/java/
/kube/
/kustomize/
/lab.hcl
/lab/
/lutris
/menus/
/mitmproxy/
/pavucontrol.ini
/pipewire/
/protonfixes/
/pulse/
/remmina/
/teams/
/uhk-agent/
/unity3d/
/user-dirs.dirs
/vlc/
/whatsapp-nativefier-*/
/youtube-music
/youtube-music-desktop-app/
/zoomus.conf
