[Unit]
Description=mariadb
StopWhenUnneeded=true

[Container]
#Notify=true
Image=mariadb
PublishPort=127.0.0.2:3306:3306
Environment=MARIADB_ROOT_PASSWORD=toor
Tmpfs=/var/lib/mysql
