discord.service
feh.service
gnome-polkit-agent.service
google-chrome.service
google-play-music-player.service
jetbrains-toolbox.service
kdeconnect-indicator.service
libinput-gestures.service
messengers.target
networkmanager-applet.service
picom.service
polybar@bottom.service
polybar@top.service
premid.service
slack.service
steam.service
teams.service
telegram.service
udiskie.service
updates.timer
whatsapp.service
work.target
xfce4-power-manager.service
