picom.service
polybar@top.service
gnome-polkit-agent.service
discord.service
slack.service
telegram.service
feh.service
teams.service
google-play-music-player.service
polybar@bottom.service
kdeconnect-indicator.service
whatsapp.service
udiskie.service
xfce4-power-manager.service
libinput-gestures.service
premid.service
networkmanager-applet.service
google-chrome.service
jetbrains-toolbox.service
steam.service
updates.timer

