[Unit]
Description=clipman
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste -t text --watch clipman store --histpath="%h/.local/share/clipman.json --max-items 0"
RestartSec=0

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes

[Install]
WantedBy=graphical-session.target
