[Unit]
Description=Picom
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStartPre=/usr/bin/bash -c 'until [ -S /tmp/.X11-unix/X0 ]; do sleep 0.5; done; sleep 1'
ExecStart=/usr/bin/picom --config=%h/.config/picom/config.conf
RestartSec=0

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes

[Install]
WantedBy=default.target
