[Unit]
Description=Polybar
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=forking
ExecStart=%h/.config/polybar/launch.sh
RestartSec=0

[Install]
WantedBy=graphical-session.target
