[Unit]
Description=Teams
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/teams-insiders
RestartSec=0

[Install]
WantedBy=default.target
