[Unit]
Description=Package Updates

[Timer]
OnCalendar=hourly
AccuracySec=1m
Persistent=true
ExecPreStart=/usr/bin/bash -c 'until [ -S /tmp/.X11-unix/X0 ]; do sleep 0.5; done; sleep 1'

[Install]
WantedBy=default.target
