[Unit]
Description=Package Updates
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/cwr/projects/linux-config/BIN/packageUpdates
RestartSec=0

[Install]
WantedBy=graphical-session.target
