[Unit]
Description=waybar %I
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
#Environment=GTK_DEBUG=interactive
ExecStart=/bin/waybar -b %i -c %h/.config/waybar/config-%i.json -s %h/.config/waybar/style-%i.css 
RestartSec=0

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes

[Install]
WantedBy=graphical-session.target
