[Unit]
Description=WhatsApp
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/whatsapp-nativefier
RestartSec=0

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes
# more paranoid security settings
ProtectKernelTunables=yes
ProtectControlGroups=yes

[Install]
WantedBy=default.target
