[Unit]
Description=Xfce4 Power Manager
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecPreStart=/usr/bin/bash -c 'until [ -S /tmp/.X11-unix/X0 ]; do sleep 0.5; done; sleep 1'
ExecStart=/usr/bin/xfce4-power-manager --no-daemon
RestartSec=0

[Install]
WantedBy=default.target
