[Unit]
Description=Xorg at display 0

Requires=xorg.socket
After=xorg.socket

[Service]
Type=simple
SuccessExitStatus=0 1
ExecStart=/usr/bin/Xorg :0 -nolisten tcp -noreset -verbose 2 vt1
